.container-index {
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.container-cards{
    display: flex;
}